html, body
  margin: 20px

body
  padding-top: 70px

a
  cursor: pointer

.navbar-sub-header
  top: 50px
  height: 40px

.navbar-form
  .input-sm
    margin-top: -2px

.navbar-btn.btn-sm
  margin-top: 4px

.alert
  &.alert-positive
    background-color: rgb(190, 190, 190)
  &.alert-negative
    background-color: rgb(65, 65, 65)
    color: #eee

.ember-select-choices
  border: none !important
  margin-top: -7px !important

  li
    margin-right: 5px !important
    border-radius: 4px !important

.inline-checkbox
  display: inline
  margin-left: 15px

hr.darken
  border-top-color: #c7c7c7
