<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		{{link-to appName "index" class="navbar-brand" }}
	</div>
	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		<ul class="nav navbar-nav">

			{{#each}}
				{{#link-to model tagName="li"}}
					<a {{bind-attr href="view.href"}}>{{title}}</a>
				{{/link-to}}
			{{/each}}
		</ul>
	</nav>
</div>